package control_demo
import list(0)
struct list (0):
function list:(1)
func main([])[] (( _}_ ) _{_ (((((( _a_ ) _:=_ ( _0_ )) _;_ 
((( _)_ ) _(_ (( _a_ ) _<_ ( _3_ ))) _while_ (( _}_ ) _{_ ((( _a_ ) _=_ (( _a_ ) _+_ ( _1_ ))) _;_ 
)))) _;_ 
((( _)_ ) _(_ (((( _i_ ) _:=_ ( _0_ )) _;_ 
(( _i_ ) _<_ ( _2_ ))) _;_ 
( _++_ ( _i_ )))) _for_ (( _}_ ) _{_ (( _println_ ( _(_ ( _i_ ))) _;_ 
)))) _;_ 
((( _)_ ) _(_ ( _a_ )) _switch_ (( _}_ ) _{_ ( __ )))) _;_ 
))
type func list:(0)
variable list:(0)

