package test_func
import list(0)
struct list (0):
function list:(1)
func test_func([])[] (( _}_ ) _{_ ((((((((((( _asshole_ ) _=_ ((( _1_ ) _+_ ( _2_ )) _+_ ( _3_ ))) _;_ 
(( _asshole_ ) _=_ ((( _2_ ) _*_ ( _3_ )) _*_ ( _4_ )))) _;_ 
(( _asshole_ ) _=_ (( _b_ ) _=_ ((((( _3_ ) _*_ ( _4_ )) _*_ ( _(_ (( _1_ ) _+_ ( _5_ )))) _*_ ( _6_ )) _/_ ( _7_ ))))) _;_ 
(( _baga_ ) _=_ (( _7_ ) _*_ (( _a_ ) _(_ ((( _10_ ) _*_ (( _b_ ) _[_ ( _2_ ))) _,_ ( _3_ )))))) _;_ 
(( _bata_ ) _=_ (( _6_ ) _+_ ( _(_ ((( _7_ ) _>_ ( _5_ )) _?_ (( _7_ ) _:_ ( _5_ ))))))) _;_ 
(( _a_ ) _:=_ (( _Type_ ) _{_ ((( _byte_ ) _:_ ( _1_ )) _,_ (( _hello_ ) _:_ ( _2_ )))))) _;_ 
(( _a_ ) _=_ (( _++_ ( _a_ )) _+_ (( _b_ ) _++_ )))) _;_ 
( _++_ ( _a_ ))) _;_ 
(( _a_ ) _++_ )) _;_ 
( _if_ (( _(_ (( _a_ ) _==_ ( _1_ ))) _{_ (( _return_ ) _;_ 
)))))
type func list:(0)
variable list:(0)

